
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Dancing+Script:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hind:wght@300;400;500;600;700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Paytone+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Dancing+Script:wght@400..700&family=Domine:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hind:wght@300;400;500;600;700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Passion+One:wght@400;700;900&family=Paytone+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=Dancing+Script:wght@400..700&family=Domine:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hind:wght@300;400;500;600;700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Passion+One:wght@400;700;900&family=Paytone+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Dancing+Script:wght@400..700&family=Domine:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hind:wght@300;400;500;600;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Passion+One:wght@400;700;900&family=Paytone+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 30px;
  
    
}

.img-fluid {
    max-width: 100%;
    height: auto;
   
   
}


   .about-title {
    color: rgb(22, 18, 18); 
    font-size: 70px;
    font-family: 'Bebas Neue';
    }
    
    .about-box {
    padding: 30px;
    margin-bottom: 20px;
    margin-top: 30px;
    border:none;
    border-radius: 5px;
    background-color: #dbd4d4;
    width: fit-content;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
    }
    .about-box:hover {
        transform: translateY(-5px);
    }
    
    .about-box h3 {
        color: #0a488a;
        font-size: 2rem;
    }
    
    .about-box p {
        color: #666;
    }

    .col {
        padding: 30px 15px; 
        border-radius: 20px;
    }


    .scrapbook-container {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        justify-content: center;
        align-items: center;
        padding: 0 35px; 
    }
    
    .scrapbook-item {
        
        left: 50%;
        box-shadow: 0 4px 6px rgba(122, 98, 98, 0.915);
        transition: transform 0.3s, box-shadow 0.3s;
        position: relative;
      
    }
    
    .scrapbook-item:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 10px rgba(18, 16, 16, 0.896);
    }
    
    .scrapbook-item img {
        width: 120%;
        height: auto;
      
       
    }
    
    .rotate-left {
        transform: rotate(-5deg);
        margin-top: 20%;
      
    }
    
    .rotate-right {
        transform: rotate(10deg);
    }
        
  .container1 {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.row1 {
    display: flex;
    align-items: flex-start; 
    gap: 10px; 
}


.image img {
    max-width: 50%;
    height: auto;
    display: block;
    margin-left:30%;

}

.text1 {
    
    flex: 1;
    margin-left: -7%;
}

.text1 h2 {
    font-family: 'KANIT'; 
    font-size: 50px;
    color:rgb(52, 54, 6);
    margin-top: 50px;
}

.text1 p {
    margin-bottom: 0;
    text-align: justify;
    letter-spacing: 1px;
    margin-top: 10px; 
}
@media (max-width: 768px) {
    .container1 {
        gap: 10px; 
    }

    .row1 {
        flex-direction: column;
    }

    .text1 h2 {
        font-size: 24px; 
    }
    .text1 p {
        margin-bottom: 0;
        text-align: justify;
        margin-top: 10px; 
    }
}
@media (max-width: 600px) {
    .container1 {
        gap: 10px; 
    }

    .row1 {
        flex-direction: column; 
    }

    .text1 h2 {
        text-align: center;
        font-size: 24px; 
    }
    .text1 p {
        margin-left: 30px;
        text-align: center;
       
    }
   
}


    @media (max-width: 900px) {
        .scrapbook-container {
            gap: 20px; 
            
        }
        .scrapbook-item {
        
            left:5%;
        }
    
        .scrapbook-item img {
            width: 100%; 
        }
    }
    
    @media (max-width: 600px) {
        .scrapbook-container {
            grid-template-columns: 1fr;
            gap: 15px; 
        }
    
        .scrapbook-item {
            margin: 0 auto; 
        }
    
        .rotate-left, .rotate-right {
            transform: none; 
            margin-top: 0;
        }
    }

    
    .image-container2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    
    .image-item2 {
        flex: 1 1 100px; 
        max-width: 100%; 
        margin-left: 10%;
        margin-top: 10%;
        text-align: center;
    }
    
    .image-item2 img {
        display: block;
        width: 40%; 
        height: 70%; 
    }
    

  