.footer-distributed {
    background-image: url(../images/footerbg4.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    padding: 10px 0;
}

.footer-distributed .footer-left img {
    width: 100%;
    max-width: 150px;
    height: auto;
}

.footer-distributed .footer-links a, p {
    color: rgb(31, 27, 27);
    text-decoration: none;
    margin: 0 3px;
}

.footer-distributed .footer-icons a {
    color: white;
    margin: 0 5px;
    text-decoration: none;
}

.footer-distributed .footer-icons a {
    color: #007bff; 
    font-size: 1.5rem;
    text-decoration: none;
}

.footer-distributed .footer-icons a:hover {
    color: #821212; 
}



