
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hind:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hind:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hind:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hind:wght@300;400;500;600;700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'shotscape';
    src: url('shotscapefont.woff2') format('woff2'),
    url('shotscapefont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
   
}

h1 {
    font-size: 45px;
    font-weight: 500;
    font-weight: 50px;
}
.cname {
    font-family: 'shotscape';
    font-size: 160px;
    line-height: 50px;
    font-weight: 500;
   
}

h4 {
    line-height: 35px;
    font-size: 25px;
    font-weight: 400;
}

.p1 {
    font-family: "Dancing Script";
    font-size: 35px;
    line-height: 28px;
    font-weight: 400;
    
}

b {
    font-size: 30px;
    line-height:28px;
    letter-spacing: 3px;
  
}

.header1 {
    background-image: url('../images/homebgbg3.jpg');
    height: 100vh;
    width: 100%;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.header1 .box {
    position: absolute;
    top:50%;
    left: 20%;
    transform: translate(0%, -50%);
    max-width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap:2rem;
   
}

.header1 .box h1{
    color: white;
   
}

.header1 .box .cname {
    color: rgb(255, 255, 255);
 
}

.header1 .box .p1 {
    color: rgb(255, 255, 255);
}

.header1 .box .btn {
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 500;
    color: black;
    background-color: white;
    width: fit-content;
    text-transform: capitalize;
}


@media (max-width: 1200px) {
    .header1 .box {
        max-width: 60%;
    }

}

@media (max-width: 992px) {
    .header1 .box {
        max-width: 70%;
        left: 5%;

    }

 
}

@media (max-width: 768px) {
    .header1 .box {
        max-width: 70%;
        left: 10%;
        gap:1.5rem;
    }

   
    .header1 .box .cname {
        font-size: 4rem;
    }

    .header1 .box p {
        font-size: 2rem;
    }
}

@media (max-width: 576px) {
   
    .header1 .box {
        max-width: 90%;
        left: 15%;
        gap:0.3rem;
    }
    

    .header1 .box .cname {
        font-size: 3rem;
    }

    .header1 .box .p1{
        font-size: 1.5rem;
    }

   
}
.new-container {
    background-image: url(images/homebg2.jpg);
    margin-top: 20px;
    padding: 20px;
    min-height: 500px
    
   
  }
  
  .new-container .container {
  
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .new-container .box {
    text-align: center;
  }
  
  .image-row {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 10px; 
}

.image-wrapper {
    flex: 1 1 30%; 
    position: relative; 
}

img {
    width: 100%; 
    height: auto; 
    display: block; 
}

@media(max-width:992px){
    .image-wrapper {
        flex: 1 1 45%;
        max-width: calc(50% - 20px);
    
    }

}

@media (max-width: 768px) {
    .image-wrapper {
        flex: 1 1 100%;
        max-width: 100%;
    }
}


.button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #fdf7f7;
    padding: 0.5em 1.4em;
    cursor: pointer;
    font-size: 15px;
    border-radius: 0.7em;
    text-decoration: none;
    background-color: #1c3a24;
    box-shadow: 2px 2px 10px rgba(23, 2, 2, 0.997);
    width: fit-content;
  }
  
  .button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #517c79;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:hover {
    color: #ffffff;
    border: 1px solid #3d7975;
  }
  
  .button2:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2:hover:after {
    top: -45%;
    background-color: #538a66;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }

  .scrapbook-container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    justify-content: center;
    align-items: center;
    padding: 0 35px; 
}

.scrapbook-item {
    border-radius: 30px;
    left: 50%;
    top: 10%;
    box-shadow: 0 4px 6px rgba(122, 98, 98, 0.915);
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
  
}

.scrapbook-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 10px rgba(18, 16, 16, 0.896);
}

.scrapbook-item img {
    width: 150%;
    height: auto;
    border-radius: 30px;
   
}

.rotate-left {
    transform: rotate(10deg);
    margin-top: 20%;
  
}

.rotate-right {
    transform: rotate(-20deg);
    
}

@media (max-width: 900px) {
    .scrapbook-container {
        gap: 20px; 
        
    }
    .scrapbook-item {
    
        left:5%;
    }

    .scrapbook-item img {
        width: 100%; 
    }
}

@media (max-width: 600px) {
    .scrapbook-container {
        grid-template-columns: 1fr;
        gap: 15px; 
    }

    .scrapbook-item {
        margin: 0 auto; 
    }

    .rotate-left, .rotate-right {
        transform: none; 
        margin-top: 0;
    }
}

  




